<form class="container mt-5" action="/admin/add-product" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label for="name">Item Name</label>
        <input type="text" class="form-control" name="name">
    </div>


    <div class="form-group">
        <label for="category">category</label>
        <select class="form-control" name="category">
            <option>Grocery</option>
            <option>Bakery</option>
            <option>Fruits & Vegitables</option>
            <option>Beverages</option>
            <option>Essentials</option>
        </select>
    </div>
    <div class="form-group">
        <label for="description">Product description</label>
        <textarea class="form-control" name="description" rows="3"></textarea>
    </div>
    <div class="form-group">
        <label for="number">MRP</label>
        <input type="number" name="mrp">
    </div>
    <div class="form-group">
        <label for="number">Our price</label>
        <input type="number" name="price">
    </div>
    

    <div class="form-group">
        <label>Image</label>
        <input type="file" name="image" class="form-control-file">
        <button style="margin-left: 25%;margin-top:10px;" type="submit" class="btn btn-info">Add Product</button>
    </div>
</form>