
<div class="container">
<div class="box">
<form action="/admin/login" method="POST" >
  <h1>Admin Login</h1><br>
  {{!-- {{#if loginErr}}
    
    <p class="error-login" style="color: crimson;"> Invalid Username or Password</p>

  {{/if}} --}}
  <div class="form-group">
    <label for="mobile">Mobile Number</label>
    <input type="text" style="width: 220px;" inputmode="tel" class="form-control" maxlength="10" id="mobile" name="mobile"  placeholder="Enter Your Mobile Number">
  </div>
    <div class="form-group" >
      <label for="exampleInputPassword1">Password</label>
      <input type="password" style="width: 220px;" class="form-control" id="exampleInputPassword1" name="password" placeholder="Password" > 
    </div>
    <!--div class="form-group form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1">
      <label class="form-check-label" for="exampleCheck1"></label>
    </div-->
      <input type="checkbox" onclick="myFunction()">Show Password 
    <br>
    <button type="submit" class="mt-3 btn btn-success loginbtn"><span>Login </span></button>
  
  </form></div>
</div>
</body>
<style>
  h1{   font-family: poppins;
  font-weight: 500;
  }
  .box{
    background: rgb(246, 253, 242);
    width: 300px;
    margin:20px 0 0 0 ;
    padding: 25px ;
    border-radius: 20px;
  }
</style>

<script>
  function myFunction() {
  var x = document.getElementById("exampleInputPassword1");
  if (x.type === "password") {
    x.type = "text";
  } else {
    x.type = "password";
  }
}
</script>
