<header style="font-size:15px;">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <!--a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a-->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a href="/" id="logo" class="navbar-brand ml-5"> Quil<span>🍏</span>n <span class="logo_bold"> Mart</span>
        </a>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto ml-auto">


                <li class="nav-item">
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>


                </li>




                <li class="nav-item">
                    <a class="nav-link" href="/myOrders">My Orders <span class="sr-only">(current)</span></a>


                </li>

                <!--li class="nav-item">
                        <a class="nav-link" href="#">Login <span class="sr-only">(current)</span></a>
           

                    </li-->


                {{#if user}}
                <li class="nav-item">
                    <a class="nav-link" style="color:rgb(0, 0, 0);" href="/cart">
                        {{user.name}}
                    </a>
                   
                </li>
                <li class="nav-item">
                    <a class="nav-link" style="color:rgb(36, 20, 20);" href="/logout">
                    Logout
                    </a>
                   
                </li>
                {{else}}
                <li class="nav-item">
                    <a class="nav-link" href="/login"> Login </a>
                </li>
                {{/if}}
                <!--li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Dropdown
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </li-->

            </ul>

        </div>





        <div class="login-status mr-5 ">

          <span class="badge badge-warning" id="cart-count">{{cartCount}}</span>
            <a href="/cart" style="text-decoration:none;color:rgb(151, 151, 151);"> <img src="/images/cart.svg"
                    alt="Cart" >
               
            </a>

        </div>
        <div class="">
            <form class="form-inline my-4 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>


    </nav>
</header>

    <div class="element" >
        
        <a href="whatsapp://send?abid=8606143897&text=Hello!" class=" mt-2 btn btn-success">
            <i class="fa fa-whatsapp"></i></a>
        <a href="tel:8606143897" class="mt-2 btn btn-primary "> <i class="fa fa-phone"></i></a>
        <br>
        <h1 class="ml6">
            <span class="text-wrapper">
                <span class="letters">Need Help</span>
            </span>
        </h1>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
    </div>
<style>
    .element{
        position: fixed;
        margin-left:75% ;
        top: 67%;
        z-index: 1;
    }

    .ml6 {
        position: fixed;
        font-weight: 900;
        font-size: 30px;
        color: rgb(91, 92, 94);
    }

    .ml6 .text-wrapper {
        position: fixed;
        display: inline-block;
        padding-top: 0.2em;
        padding-right: 0.05em;
        padding-bottom: 0.1em;
        overflow: hidden;
    }

    .ml6 .letter {
        display: inline-block;
        line-height: 1em;
    }
    .letters{
        color: rgb(255, 255, 255);
    }
</style>
<script>

    // Wrap every letter in a span
    var textWrapper = document.querySelector('.ml6 .letters');
    textWrapper.innerHTML = textWrapper.textContent.replace(/\S/g, "<span class='letter'>$&</span>");

    anime.timeline({ loop: true })
        .add({
            targets: '.ml6 .letter',
            translateY: ["1.1em", 0],
            translateZ: 0,
            duration: 750,
            delay: (el, i) => 50 * i
        }).add({
            targets: '.ml6',
            opacity: 0,
            duration: 1000,
            easing: "easeOutExpo",
            delay: 1000
        });
</script>