<header style="font-size:15px;">
    <nav class="navbar navbar-expand-lg navbar-light " style="background-color: #ffffff;">
        <!--a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a-->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a href="/" id="logo" style="color: rgb(5, 5, 5);" class="navbar-brand "> Ven<span>🍏</span>d <span class="logo_bold"> Merchantiles</span>
        </a>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto ml-auto">


                <li class="nav-item">
                    <a class="nav-link"  href="/">Home <span class="sr-only">(current)</span></a>


                </li>




                <li class="nav-item">
                    <a class="nav-link"  href="/myOrders">My Orders <span class="sr-only">(current)</span></a>


                </li>

                <!--li class="nav-item">
                        <a class="nav-link" href="#">Login <span class="sr-only">(current)</span></a>
           

                    </li-->


                {{#if user}}
                <li class="nav-item">
                    <a class="nav-link"  href="/cart">
                        {{user.name}}
                    </a>
                   
                </li>
                <li class="nav-item">
                    <a class="nav-link"  href="/logout">
                    Logout
                    </a>
                   
                </li>
                {{else}}
                <li class="nav-item">
                    <a class="nav-link" href="/login"> Login </a>
                </li>
                {{/if}}
                <!--li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Dropdown
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </li-->

            </ul>

        </div>





        <div class="login-status mr-5 ">

          <span class="badge badge-warning" id="cart-count">{{cartCount}}</span>
            <a href="/cart" style="text-decoration:none;color:rgb(151, 151, 151);"> <img src="/images/cart.svg"
                    alt="Cart" >
               
            </a>

        </div>
        <div class="">
            <form class="form-inline my-4 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-dark my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>


    </nav>
</header>
<div id="draggable" >
    <div class="element" id="drag" >
        
        <a href="whatsapp://send?abid=8606143897&text=Hello!" class="one mt-2 btn btn-success">
            <i class="fa fa-whatsapp"></i></a>
        <a href="tel:8606143897" class="mt-2 btn btn-primary two"> <i class=" fa fa-phone"></i></a>
        <br>
        <h1 class="ml6">
            <span class="text-wrapper">
                <span class="letters">Need Help!!</span>
            </span>
        </h1>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
    </div>
</div>
<style>
    header{
            font-family: 'Poppins', sans-serif;
    }
    #draggable{
         position: absolute;
         z-index: 9;
    }
    #drag {
        cursor: move;
        z-index: 10;
        }
    .one{
        margin: 0 0 0 20px;
    }
    .two{
        margin: 0 0 0 30px;
    }
    
    .element{
        position: fixed;
        margin-left:2% ;
        z-index: 2;
        width: 180px;
        padding: 10px;
        height: 120px;
        border-radius: 15px;
        background-clip: padding-box;
        font-family: 'Poppins', sans-serif;
        background: rgba(255,255,255, 0.2);
        backdrop-filter: blur(10px);
        border: solid  2px transparent;
        background-clip: padding-box;
        box-shadow: 10px 10px 10px  rgba(46, 54, 68, 0.03);
        right: 25px 

    }

    .ml6 {
        position: fixed;
        font-weight: 900;
        font-size: 30px;
        color: rgb(91, 92, 94);
    }

    .ml6 .text-wrapper {
        position: fixed;
        display: inline-block;
        padding-top: 0.2em;
        padding-right: 0.05em;
        padding-bottom: 0.1em;
        overflow: hidden;
    }

    .ml6 .letter {
        display: inline-block;
        line-height: 1em;
    }
    .letters{
        color: rgb(255, 174, 0);
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    @media only screen and (max-width: 500px) {
        
        .m16{
            display: none;
        }
        .text-wrapper{
            display: none;
        }
        .letters{
            display: none;
        }
        .element{

        position: fixed;
        margin-left:0 ;
        z-index: 2;
        width: 60px;
        padding: 10px 0 0 0;
        height: 130px;
        top: 100px;
        right: 5px;
        
        }

    .one{
        margin: 0 0 0 10px;
    }
    .two{
        margin: 0 0 0 10px;
    }

    }
</style>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/gsap.min.js"></script>

<script>

    // Wrap every letter in a span
    var textWrapper = document.querySelector('.ml6 .letters');
    textWrapper.innerHTML = textWrapper.textContent.replace(/\S/g, "<span class='letter'>$&</span>");

    anime.timeline({ loop: true })
        .add({
            targets: '.ml6 .letter',
            translateY: ["1.1em", 0],
            translateZ: 0,
            duration: 750,
            delay: (el, i) => 50 * i
        }).add({
            targets: '.ml6',
            opacity: 0,
            duration: 1000,
            easing: "easeOutExpo",
            delay: 1000
        });

 const tl = gsap.timeline({defaults: {ease: "power2.inOut", duration: 0.3}})
    tl.from('img', { x: '-10%', opacity: 0})
      .from('.one', { x: '-10%', opacity: 0})
      .from('.two', { x: '-10%', opacity: 0})
      
 
//Make the DIV element draggagle:
dragElement(document.getElementById("draggable"));

function dragElement(elmnt) {
  var pos1 = 0, pos2 = 0, pos3 = 0, pos4 = 0;
  if (document.getElementById(elmnt.id + "header")) {
    /* if present, the header is where you move the DIV from:*/
    document.getElementById(elmnt.id + "header").onmousedown = dragMouseDown;
  } else {
    /* otherwise, move the DIV from anywhere inside the DIV:*/
    elmnt.onmousedown = dragMouseDown;
  }

  function dragMouseDown(e) {
    e = e || window.event;
    e.preventDefault();
    // get the mouse cursor position at startup:
    pos3 = e.clientX;
    pos4 = e.clientY;
    document.onmouseup = closeDragElement;
    // call a function whenever the cursor moves:
    document.onmousemove = elementDrag;
  }

  function elementDrag(e) {
    e = e || window.event;
    e.preventDefault();
    // calculate the new cursor position:
    pos1 = pos3 - e.clientX;
    pos2 = pos4 - e.clientY;
    pos3 = e.clientX;
    pos4 = e.clientY;
    // set the element's new position:
    elmnt.style.top = (elmnt.offsetTop - pos2) + "px";
    elmnt.style.left = (elmnt.offsetLeft - pos1) + "px";
  }

  function closeDragElement() {
    /* stop moving when mouse button is released:*/
    document.onmouseup = null;
    document.onmousemove = null;
  }
}
</script>